{% extends "base.jinja" %}
{% block title %} Timestamp Verifier {% endblock %}
{% block content %}
<h1>Token Generation</h1>
<div id="form_results"></div>
<form>
    <label for="Time">Time: </label>
    <input id="time" readonly="true" />
    <label for="timestamp">Timestamp: </label>
    <input id="timestamp"  readonly="true" />
    <label for="token">Verification Token: </label>
    <input id="token"  readonly="true" />

    <div></div>

    <input type="button" value="Show Token" id="show_token">

</form>
<p class="bigwarn"> Please copy and paste your timestamp and verification token into your speedrun.com submission</p>
<h1>How to Use</h1>
<p>In categories where this tool is required for verification, this tool is used to guarantee that runs are performed at a particular time.</p>
<p>To use the tool, set up OBS to capture the website, then immediately before your run click "show token". Then, the timestamp and token will automatically be copied to your clipboard. Be sure to paste this token into a notepad window so that you can later attatch it to the speedrun.com submission. At this point, you may close the tool and start your run. 
</p>
<p>While pasting the verification token into your speedrun.com submission isn't strictly necessary as the token is shown in the video, it is strongly recommended in case low video quality makes the token unreadable.</p>
<script src="static/index.js" defer></script>
{% endblock %}